<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnectionString" connectionString="Data Source = LAPTOP-6RJGB3RI\\MSSQL_LUC; Initial Catalog = POO_GRP7; Integrated Security = True; User ID = CNX; Password = cesi123" />
	</connectionStrings>
</configuration>